@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="cont_deg">

    <div class="titulo">
        <span>C</span><span>A</span><span>L</span><span>E</span><span>N</span><span>D</span><span>A</span><span>R</span>
    </div>

    <div class="countdown" style="margin-left: 18%;margin-bottom: 100px;">
        <div class="cardab">
            <div class="face face1">
                <div class="content">
                    <span class="real-timer" data-format="full"></span>
                </div>
            </div>
            <div class="face face2">
                <h2>TIMELEFT</h2>
                <p>FOR THE IMAGINATIO</p>
            </div>
        </div>
    </div>

    <div class="texto_muestras">
        <h1 class="neon-subtitulo">
            <span>A</span><span>C</span><span>T</span><span>I</span><span>V</span><span>I</span><span>T</span><span>I</span><span>E</span><span>S</span>
        </h1>
    </div>

    <div class="activity-cards">
        <div class="activity-content">
            <div class="image-wrapper" style="background-image: url(/images/Carteles_Imaginatios/Conversatorio.jpg);"></div>
            <div class="header-wrapper">
                <h3 class="title">ACTIVITY # 1</h3>
                <div class="info">
                    <p>
                        Guests: <br>
                        NICOLÁS SUÁREZ ROJAS <br>
                        ANDRÉS BOTERO <br>
                        YULEISY RINCÓN <br>
                        GIANLUCAS ANTONIO TÓRRES
                    </p>
                    <div class="activity-footers">16:00 PM, CONCHA ACÚSTICA</div>
                </div>
            </div>
        </div>
        <br>
        <div class="activity-content">
            <div class="image-wrapper" style="background-image: url(/images/Carteles_Imaginatios/Unity.jpg);"></div>
            <div class="header-wrapper">
                <h3 class="title">ACTIVITY # 2</h3>
                <div class="info">
                    <p>
                        Speakers: <br>
                        Paulo Cesar Arias and Sergio Esteban Prada
                    </p>
                    <div class="activity-footers">10:00 PM, FERNANDO SOTO APARICIO</div>
                </div>
            </div>
        </div>
        <br>
        <div class="activity-content">
            <div class="image-wrapper" style="background-image: url(/images/Carteles_Imaginatios/Conversatorio.jpg);"></div>
            <div class="header-wrapper">
                <h3 class="title">ACTIVITY # 3</h3>
                <div class="info">
                    <p>
                        Guests: <br>
                        Laura Duran, Tatiana Sarmiento, <br>
                        Hernán Giraldo, Sebastián Niño, <br>
                        Nicolás Suarez,Johan Coy <br>
                    </p>
                    <div class="activity-footers">8:00 AM, CONCHA ACÚSTICA</div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="Bots_Menu">
        <button class="btn-glow_Menu" onclick="window.location.href='https://sites.google.com/unimilitar.edu.co/multimedia/ingenier%C3%ADa-en-multimedia?authuser=0'"
                style="margin-left: 100%;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            COME JOIN US!!
        </button>
    </div>
</div>