@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="cont_deg">
    <div class="titulo" style="font-size: 8vw;">
        <span>W</span><span>O</span><span>R</span><span>K</span>
        <br><br>
        <span>S</span><span>A</span><span>M</span><span>P</span><span>L</span><span>E</span><span>S</span>
    </div>

    <div class="texto_mm">
        <h1 class="neon-subtitulo">
            <span>3</span><span>D</span>
            <span>&nbsp;</span>
            <span>A</span><span>R</span><span>T</span><span>W</span><span>O</span><span>R</span><span>K</span><span>S</span>
        </h1>
    </div>

    <div class="galeria3D">
        <!--3D MODELS-->
        <ul>
            <!-- Aquí integramos el modelo de Sketchfab -->
            <li>
                <div class="sketchfab-embed-wrapper">
                    <iframe title="GameArt - Monster Truck (Warturtle)"
                            frameborder="0"
                            allowfullscreen
                            mozallowfullscreen="true"
                            webkitallowfullscreen="true"
                            allow="autoplay; fullscreen; xr-spatial-tracking"
                            xr-spatial-tracking
                            execution-while-out-of-viewport
                            execution-while-not-rendered
                            web-share
                            src="https://sketchfab.com/models/bfea0d16086e4291b08a1cc17482c5be/embed"
                            loading="lazy">
                    </iframe>
                </div>
            </li>
            <li>
                <div class="sketchfab-embed-wrapper">
                    <iframe title="UMNG - Bryan Jair Bejarano - Loki"
                            frameborder="0"
                            allowfullscreen mozallowfullscreen="true"
                            webkitallowfullscreen="true"
                            allow="autoplay; fullscreen; xr-spatial-tracking"
                            xr-spatial-tracking execution-while-out-of-viewport
                            execution-while-not-rendered web-share
                            src="https://sketchfab.com/models/adcb17f520494b55bd5a878f8b971f1d/embed"
                            loading="lazy">
                    </iframe>
                </div>
            </li>
            <li>
                <div class="sketchfab-embed-wrapper">
                    <iframe title="Primer parcial Modelado"
                            frameborder="0"
                            allowfullscreen mozallowfullscreen="true"
                            webkitallowfullscreen="true"
                            allow="autoplay; fullscreen; xr-spatial-tracking"
                            xr-spatial-tracking execution-while-out-of-viewport
                            execution-while-not-rendered web-share
                            src="https://sketchfab.com/models/7b6a2675c2db403ca4f04cdbd486f3d6/embed"
                            loading="lazy">
                    </iframe>
                </div>
            </li>
        </ul>
    </div>

    <div class="texto_mm">
        <h1 class="neon-subtitulo">
            <span>2</span><span>D</span>
            <span>&nbsp;</span>
            <span>A</span><span>R</span><span>T</span><span>W</span><span>O</span><span>R</span><span>K</span><span>S</span>
        </h1>
    </div>

    <div class="galeria">
        <ul>
            <li>
                <div class="card6">
                    <div class="imgbox">
                        <img src="~/images/2D_Art/El-Metaverso_Juan_Gutierrez - Juan José Gutiérrez Salcedo.gif" alt="El Metaverso - Juan José Gutiérrez">
                    </div>
                    <!-- ahora está dentro de card6 -->
                    <div class="details">
                        <h2>Juan José Gutiérrez<br><span>El Metaverso</span></h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="card6">
                    <div class="imgbox">
                        <img src="~/images/2D_Art/EmbeddedImage.gif" alt="Picapiedra - Pedro Peréz">
                    </div>
                    <!-- ahora está dentro de card6 -->
                    <div class="details">
                        <h2>Pedro Peréz<br><span>Picapiedra</span></h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="card6">
                    <div class="imgbox">
                        <img src="~/images/2D_Art/Metaverso_Amarillo - Natalia Sofia Porras Pineda.png" alt="Metaverso_Amarillo - Natalia Sofia Porras Pineda">
                    </div>
                    <!-- ahora está dentro de card6 -->
                    <div class="details">
                        <h2>Natalia Sofia Porras Pineda<br><span>Metaverso Amarillo</span></h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="card6">
                    <div class="imgbox">
                        <img src="~/images/2D_Art/Screenshot 2025-08-24 165333.png" alt="Dogobot - Angie Ortíz">
                    </div>
                    <!-- ahora está dentro de card6 -->
                    <div class="details">
                        <h2>Angie Ortíz<br><span>Dogobot</span></h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="card6">
                    <div class="imgbox">
                        <img src="~/images/2D_Art/Screenshot 2025-08-24 165704.png" alt="Bartech - Juliana Guerrero">
                    </div>
                    <!-- ahora está dentro de card6 -->
                    <div class="details">
                        <h2>Juliana Guerrero<br><span>Bartech</span></h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="card6">
                    <div class="imgbox">
                        <img src="~/images/2D_Art/MAJORTON.gif" alt="Major Tom - Jhoseph Santiago Farias Guevara">
                    </div>
                    <!-- ahora está dentro de card6 -->
                    <div class="details">
                        <h2>Jhoseph Santiago Farias Guevara<br><span>Major Tom</span></h2>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="texto_mm">
        <h1 class="neon-subtitulo">
            <span>V</span><span>I</span><span>D</span><span>E</span><span>O</span><span>G</span><span>A</span><span>M</span><span>E</span><span>S</span>
        </h1>
    </div>


    <div>
        <ul class="galeria_games">

            <li>
                <div class="card5">
                    <div class="face1">
                        <div class="imgbox">
                            <img src="~/images/Juegos/Screenshot 2025-08-24 172631.png" alt="Juego 1">
                        </div>
                    </div>
                    <div class="face2">
                        <div class="content5">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, aliquam! Sit cum corrupti dolor id totam velit cumque! Praesentium beatae facilis eius voluptates at ex quod recusandae excepturi nostrum suscipit.
                            </p>
                            <a href="https://zergiopc.itch.io/how-not-to-survive-a-robot-invasion" target="_blank">PLAY</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="card5">
                    <div class="face1">
                        <div class="imgbox">
                            <img src="~/images/Juegos/Screenshot 2025-08-24 173323.png" alt="Juego 2">
                        </div>
                    </div>
                    <div class="face2">
                        <div class="content5">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem dolore cupiditate ullam, autem neque aut est doloribus earum optio repudiandae delectus commodi fugit aperiam ratione porro molestias ad possimus nemo.
                            </p>
                            <a href="https://ingenmultimedia.github.io/AlasdelCalabozo/" target="_blank">PLAY</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>

<!-- Lightbox -->
<div id="lightbox" class="lightbox">
    <span class="close">&times;</span>
    <span id="prev" class="nav-btn">&#10094;</span> <!-- Flecha izquierda -->
    <img class="lightbox-content" id="lightbox-img">
    <span id="next" class="nav-btn">&#10095;</span> <!-- Flecha derecha -->
    <div id="caption"></div>
</div>

<script src="~/js/mmuestras.js"></script>