@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="titulo">
    <span>W</span><span>H</span><span>O</span>
    <br><br>
    <span>W</span><span>E</span>
    <br><br>
    <span>A</span><span>R</span><span>E</span>
</div>

<div style="height:40vh;"></div>

<!-- CONTENEDOR DEL EFECTO STACK CARDS -->
<div class="stack-cards-container">
    <div class="stack-cards">
        <!-- ULTIMO A PRIMERO -->

        <div class="stack-cards__item">
            <div class="Bots_Menu">
                <button class="btn-glow_Menu" onclick="window.location.href='https://sites.google.com/unimilitar.edu.co/multimedia/ingenier%C3%ADa-en-multimedia?authuser=0'"
                        style="margin-left: 100%;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    COME JOIN US!!
                </button>
            </div>
        </div>

        <div class="stack-cards__item">
            <div class="inner">
                <div class="imagenes_abajo">
                    <div class="cardab">
                        <div class="face face1">
                            <div class="content">
                                <img src="~/images/logo.png" alt="Persona 1">
                            </div>
                        </div>
                        <div class="face face2">
                            <h2 style="font-size: 60px;">Vision</h2>
                            <p>To be the leading academic event for students and companies in the exchange of ideas, trends, and innovation in multimedia areas.</p>
                        </div>
                    </div>
                    <div class="cardab">
                        <div class="face face1">
                            <div class="content">
                                <img src="~/images/logo.png" alt="Persona 1">
                            </div>
                        </div>
                        <div class="face face2">
                            <h2 style="font-size: 60px;">Mission</h2>
                            <p>Motivate students by encouraging co-learning, creativity, and the exchange of ideas, strengthening their training and professional development.</p>
                        </div>
                    </div>
                </div>
                <div class="counter">4/5</div>
            </div>
            <div class="shadow"></div>
        </div>

        <div class="stack-cards__item">
            <div class="inner">
                <h3 class="neon-subtitulo">Latest imaginatios</h3>
                <div class="imagenes_abajo">
                    <div class="cardab">
                        <div class="face face1">
                            <div class="content">
                                <img src="~/images/Carteles_Imaginatios/XII.jpg" alt="XII">
                            </div>
                        </div>
                        <div class="face face2" style="font-size: 8px;">
                            <h2>IMAGINATIO XII</h2>
                        </div>
                    </div>
                    <div class="cardab">
                        <div class="face face1">
                            <div class="content">
                                <img src="~/images/Carteles_Imaginatios/XI.jpg" alt="XII">
                            </div>
                        </div>
                        <div class="face face2" style="font-size: 8px;">
                            <h2>IMAGINATIO XI</h2>
                        </div>
                    </div>
                    <div class="cardab">
                        <div class="face face1">
                            <div class="content">
                                <img src="~/images/Carteles_Imaginatios/X.jpg" alt="XII">
                            </div>
                        </div>
                        <div class="face face2" style="font-size: 8px;">
                            <h2>IMAGINATIO X</h2>
                        </div>
                    </div>
                </div>

                <div class="Small_Bots center" style="margin-top: 10px;">
                    <button onclick="window.location.href='@Url.Action("Past", "Home")'" class="btn-glow_Menu small">
                        <span></span><span></span><span></span><span></span>
                        SEE MORE...
                    </button>
                </div>
                <div class="counter">3/5</div>
            </div>
            <div class="shadow"></div>
        </div>

        <div class="stack-cards__item">
            <div class="inner">
                <h3 class="neon-subtitulo" style="margin-left: 10%;">What is it</h3>
                <p style="margin-left: 5%; margin-top: 2%;">
                    <span>The Imaginatio is an academic space for the Multimedia Engineering program</span>
                    <span>at the Universidad Militar Nueva Granada, where students have the</span>
                    <span>opportunity to connect with professionals, graduates, and companies</span>
                    <span>in the fields of engineering and multimedia design.</span>
                    <br>
                    <span>
                        The event seeks to reflect on the different perspectives around the concept of multimedia,
                        from the perspective of students, graduates, academics, and industry leaders.
                    </span>
                </p>
                <div class="counter">2/5</div>
            </div>
            <div class="shadow"></div>
        </div>

        <div class="stack-cards__item">
            <div class="inner">
                <!-- Banner principal -->
                <div class="Qs_Banner">
                    <h1 class="Titl_Qs">IMAGINATIO: A Multimedia Engineering Proyect</h1>
                </div>
                <div class="counter">1/5</div>
            </div>
            <div class="shadow"></div>
        </div>

    </div>
</div>

<script src="~/js/qsomos.js"></script>